<div class="container">
  <%= form_for(@user, url: user_registration , html:{class: "form-signin"}, method: "post") do |f|%>
      <h2 class="form-signin-heading">注册用户</h2>
      <label for="inputEmail" class="sr-only">帐号</label>
      <%=f.text_field :email ,class:"form-control", placeholder:"邮箱", required: true%>
      <br>
      <label for="inputPassword" class="sr-only">用户名</label>
      <%=f.text_field :name ,class:"form-control", placeholder:"用户名", required: true%>
      <br>
      <label for="inputPassword" class="sr-only">密码</label>
      <%=f.password_field :password ,class:"form-control", placeholder:"密码", required: true%>

      <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
  <%end %>
</div>
